@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
  margin: 0px;
  scroll-behavior: smooth;
}
.logo{
   margin-left: 10px;
   margin-top: 10px;
   float: left;
   overflow: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
nav {
  overflow: hidden;
  background-color: #0E9548;
  float: none;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  height: 100px;
}

nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 50px;
  display: block;
  color: #ffffff;
  margin-left: 10px;

}

nav a:hover{
box-shadow: 5px 10px #888888;
}

@media screen and (max-width: 600px) {
nav {
float: none;
dislay: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
  }
}
